mark {
    background: rgba(0, 0, 0, 0.001);
    color: rgba(255, 255, 255, 0.5);;
  }
  
  mark.current {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 0 0 20px #21ecf3,0 0 30px #21ecf3,0 0 40px #21ecf3,0 0 100px #21ecf3;
}
  
.header {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 70%;
}
.header input {
  border-color: #21ecf3;
  border-radius: 50px;
  width: 200px;
  height: 35px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color:rgba(0, 0, 0, 0.001);
  text-align: center;
  text-shadow: 0 0 20px #21ecf3,0 0 30px #21ecf3,0 0 40px #21ecf3,0 0 100px #21ecf3;
  color:#21ecf3;
}
.header input:hover
 {
   box-shadow: 0 0 10px#21ecf3;
 }
.header input::placeholder {
  font-size:25px;
  color:#21ecf3;
}
.header button {
  color:#21ecf3;
  font-size: 12px;
  background-color:rgba(255,255,255,0.1);
  border-color: #21ecf3;
  cursor:pointer;
}
.header button:hover{
  color:#02111f;
  font-size: 12px;
  background:#21ecf3;
  box-shadow: 0 0 20px #21ecf3,0 0 30px #21ecf3,0 0 40px #21ecf3,0 0 100px #21ecf3;
}